:root {
  font: 16px/145% Georgia, 'Times New Roman', serif;
  color: #2A2E33;
  background: #F4F8FA;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
}
